*{
    margin: 0px;
    padding: 0px;
}
.wrap{
    margin: 0px;
    padding: 0px;
width: 100%;
height: auto;

}
.container-phuc{
    
    width: 100%;
    height: 1500px;
   
}
.tenshop{
    margin-top: 2%;
    text-align: center;
}
.task{
    top:0;
   z-index: 1;
    display: flex;
    position: relative;
    position: fixed;
    background-color: whitesmoke;
    width: 100%;
    height: 50px;
    justify-content: center;
    align-items: center;
    
}
.task-thea{
    margin-left: 7%;
    text-decoration: none;
    color: black;
    width: 8%;
    height: 30px;
    border-radius: 13px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}
.task-thea:hover{
    color: orange;
    border: 1px solid orange;
    width: 8%;
    height: 30px;
    border-radius: 13px;
}
.task-button{
   
  cursor: pointer;
   margin-right: -20%;
   margin-left: 20%;
   width: 8%;
   height: 30px;
   border-radius: 13px;
   border: none;
   border: 1px solid black;
}
.task-button:hover{
    border: 1px solid orange;
    color: orange;
}
.fa-user{
    margin-right: 5px;
}
.dot{
    position:absolute;
   top: 50px;
    width: 100%;
    height: 3px;
    background-color: black;
}
.container-timkiem{
    justify-content: center;
  
    
    margin-top:50px;
    width: 100%;
    height: 50px;
   
    display: flex;
    background-color: aliceblue;
   
}




@keyframes show {
    from{
        opacity: 0.3;
    }
    to{
        opacity: 1;
    }
}

.timkiem1{
width: 60px;
margin-top: 20px;
  
    font-size: 10px;
}
.taikhoan3{
    width: 70px;
    width: 80px;
    margin-top: 20px;
  
    font-size: 10px;
}
.taikhoan2{
    width: 70px;
    margin-top: 20px;
    margin-left:5%;
    margin-right:5%;
    font-size: 10px;
}
.ul1{
    width: 80%;
 margin-left: -4px;
}
.ul2{
    width: 85%;
    
}
.ul3{
    width: 80%;
  margin-left: -2px;
}
ul {

   outline: 1px solid rgb(149, 191, 227);
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
   
    width: 80px;
    margin-left: 10px;
    display: none;

  }

  input[type=checkbox] {
    display: none;
  }

  label {
    cursor: pointer;
    font-weight: bold;
  }

  input:checked + label + ul li {
    cursor: pointer;
    display: block;
   
  }
  input:checked + ul{
    border: 1px solid orange;
 
  }
  li:hover{
    color: orange;
  }
  label:hover{
    color: orange;
  }
  .container-header{
    margin-top: 20px;
    width: 100%;
   height: 500px;
  }


.container-sanpham1{
    width: 100%;
    height: 460px;
 
margin-top: 20%;
display: flex;
justify-content: center;

}
.sanpham1-left{
   

   
}
.left-1{
    margin-bottom: 10%;
}
.sanpham1-right{

}
.sanpham1-body{
    margin-left: 5%;
    margin-right: 5%;
}
.sanpham1-body>img{
    height: 440px;
    transform-origin: center;
}
.sanpham1-img:hover{
transform: scale(1.03);
box-shadow: 0px 4px 8px 0px rgb(149, 191, 227);
}
.hr{
    width: 100%;
    height: 1px;
    background-color: black;
    margin-top: 40px;
}